.toppart{
  background-color: #5F8AA7;
  height: 25%;
}

.ui.borderless.fixed.fixedmenu.menu{
  background-color: #eeeeee;
}

.ui.text{
  font-size: large;
}

.ui.centered.two.column.term.grid{
  font-size: large;
  <!--background-color: darkorange; -->
  color:white;
  margin-top:3%;
}

.row{
  padding: 3%;
}

.intro{
}

.definition{
  margin-top: 3%;

}

.hangingindent {
  padding-left: 0% ;
  text-indent:  0% ;
  padding-top: 2%;
}
